<link href="~/Content/StyleSheet.css" rel="stylesheet" />
@model WardrobeDBFirstMVC.Models.Shoe

@{
    ViewBag.Title = "Details";
}



   
    <hr />
   <div class="row">
       <div class="col-md-5"></div>
       <div class="col-md-2">

           <p>
               <img src=" @Html.DisplayFor(model => model.ShoePhoto)" class="image" height="100" width="100" />
           </p>

           <p>
               @Html.DisplayNameFor(model => model.ShoeName):  @Html.DisplayFor(model => model.ShoeName)
           </p>

           <p>
               @Html.DisplayNameFor(model => model.Color):@Html.DisplayFor(model => model.Color)

           </p>
           <p>
               Occassion:@Html.DisplayFor(model => model.Occassion.Occassion1)
           </p>
           <p>
               @Html.DisplayNameFor(model => model.Season.Season):@Html.DisplayFor(model => model.Season.Season)

           </p>
           <p>
               <a class="glyphicon glyphicon-edit btn btn-default" href=" @Url.Action("Edit", new { id = Model.ShoeID })"></a>
               <a class="glyphicon glyphicon-home btn btn-default" href=" @Url.Action( "Index","Shoes")"></a>
               <a class="glyphicon glyphicon-erase btn btn-default" href="@Url.Action("Delete", new { id = Model.ShoeID })"></a>
           </p>


       </div>
       </div>

  

