<link href="~/Content/StyleSheet.css" rel="stylesheet" />
@model IEnumerable<WardrobeDBFirstMVC.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<p>
    <a class="glyphicon glyphicon-new-window btn btn-default" href="@Url.Action("Create", "Bottoms")"></a>
</p>
<div class="row">
<div class="col-md-2">
    <div class="jumbotron">
        <select id="mySelect" onchange="myFunction()">
            <option value="Search by season">Search by Season
            <option value="Summer">Summer
            <option value="Fall">Fall
            <option value="Spring">Spring
            <option value="All Season">All Season
            <option value="Winter">Winter

        </select>

    </div>
</div>
<div class="col-md-6">
    <div class="jumbotron" id="dis">
        <p></p>

    </div>
</div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="thumbnail">
                <div class="caption ">
                    <p class="type">
                        @Html.DisplayFor(modelItem => item.BottomName)
                    </p>
                    <p>
                        <img src=" @Html.DisplayFor(modelItem => item.BottomPhoto)" class="image" height="100" width="100" />
                    </p>

                    <p class="Season">
                        @Html.DisplayFor(modelItem => item.Season.Season)
                    </p>

                    <p>

                        <a class="glyphicon glyphicon-tag btn btn-default" href=" @Url.Action( "Details", new { id=item.BottomID })"></a>

                    </p>
                </div>
            </div>
        </div>
    }
</div>
